*{
  box-sizing: border-box;
}

body {
  	font-family: Helvetica, Arial, sans-serif;
  	line-height: 1.3;
    background-image: url("images/130.jpg");
    background-size: 105% 120%;
    background-attachment: fixed;
}

a{
  color: blue;
  text-decoration: none;
}

.navigation{
  list-style: none;
  line-height: 2;
  width: 90%;
  background-color: #727d8e;
  text-align: center;
  display:inline-block;

  }

.navigation li{
  display: inline-block;
  font-size: 18px;
  padding: 10px;
  margin: 0 10px;
}

.navigation a{
  color: white;
}

.navigation a:hover{
  color: inherit;
}

.navigation img{
  width: 100px;
  height: 60px;
  padding: 0;
  vertical-align: middle;
}

section {
  width: 90%;
  margin: 0 auto 40px;
  padding: 0;
  text-align: center;
}

.bigimgbiology{
  width: 30%;
  height: 250px;
  border: 1px solid #727d8e;
  vertical-align: middle;
  display: inline-block;
  text-align: left;
  border-radius: 10px;
}

.imgtext{
  width: 40%;
  text-align: center;
  margin-left: 40px;
  padding-left: 30px;
  padding-right: 30px;
  display: inline-block;
  vertical-align: middle;
  background-color: #526a8f;
  border-radius: 10px;
  color: #f0f0f0;

}

.notes{
  width: 300px;
  text-align: center;
  padding: 0 10px;
  display: inline-block;
  vertical-align: top;
  background-color: #dce2eb;
  height: 160px;
  border-radius: 10px;
  border: 1px solid #f0f0f0;

}

.subject{
  width: 300px;
  text-align: center;
  padding: 0;
  display: inline-block;

}

.subject figure{
  width: 100%;
  padding: 0;
  margin: 0;

}

.subject img{
  width: 100%;
  padding: 0;
  border-radius: 10px;
}

.bumf{
  width: 25%;
  text-align: center;
  padding: 20px;
  display: inline-block;
  vertical-align: top;
  background-color: #dce2eb;
  color: black;
  border: 1px solid #f0f0f0;
  border-radius: 10px;
}

.bumf img{
  width: 80%;
  padding: 0;
}

.about{
  width: 300px;
  text-align: center;
  padding: 0 10px;
  display: inline-block;
  vertical-align: top;
  background-color: #dce2eb;
  height: 300px;
  border-radius: 10px;
  border: 1px solid #f0f0f0;
}
